/***************************************** TAG SELECTORS ****************************************/

body{
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
	
}

hr{
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 5px;
	width: 4%;
	padding-bottom: 50px;
}

h1{
	font-size: 65px;
	margin-top: 0;
	font-family: 'Sacramento', cursive;
	margin: 50px auto 0 auto;
	color: #3797a4;
	line-height: 1;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	color: #3797a4;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	color: #11999E;
	font-weight: bolder;
}

p{
	line-height: 2;
}

a{
	color: #3797a4;
	margin: 10px 20px;
	text-decoration: none;
}

a:hover{
	color: #EAF6F6;
}




/*************************************** CLASS SELECTORS ******************************************/

.top-container{
	background-color: #8ccbbe;
	position: relative;
	padding-top: 100px;
	
}

.name1{
	text-decoration: underline;
}

.intro{
	width: 35%;
	margin: auto;

}

.middle-container{
	padding-top: 100px;
}

.bottom-container{
	background-color: #8ccbbe;
	padding: 50px 0 20px;
}

.skill-row{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;	
}

.codegif{
	height: 245px;
	width: 50%;
	float: left;

}

.gow{
	height: 215px;
	width: 50%;
	float: right;
}

.programmer{
	font-size: 1.5rem;
	font-style: italic;
	color: #3797a4;
	font-weight: 500;
}

.love{
	color: #3797a4;
	padding-bottom: 20px;
}

.contact-me{
	width: 70%;
	margin: auto;
	padding-bottom: 30px;
}

.top-cloud{
	position: absolute;
	right: 150px;
	top: 40px;
}

.bottom-cloud{
	position: absolute;
	left: 150px;
	bottom: 300px;
}

.vyankatesh{
	border-radius: 100%;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom,#3797a4 5%, #3797a4 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.btn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.btn:active {
	position:relative;
	top:1px;
}

.copyright{
	color: #EAF6F6;
	font-size: 0.75rem;
	padding: 20px 0;
}
        

/*************************************** ID SELECTORS ******************************************/

